/*
 *
 *
 *
 *
 *
 *
 *
 */


body{
margin: 0;
padding: 0;
border: 0;
overflow: hidden;
height: 100%; 
max-height: 100%; 
}

#nav{
position: absolute;
top: 0;
bottom: 0; 
left: 0;
width: 15em; /*Width of frame div*/
height: 100%;
overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
background: #eeeeee;
color: #000000;
}

#content{
position: fixed;
top: 0; 
left: 15em; /*Set left value to WidthOfFrameDiv*/
right: 0;
bottom: 0;
overflow: auto; 
background: #ffffff;
}

.in{
margin: 1em; /*Margins for inner DIV inside each DIV (to provide padding)*/
}

#profile {
border: 1px solid #333333;
position: relative;
width: 12em;
padding: 0.5em;
}

img.display {
width: 12em;
}

#aboutme {
background-color: #bbbbbb;
}

#links {
padding-left: 0.5em;
}

a #link {
margin: 0.25em;
padding: 0.25em;
padding-left: 2em;
background-color: #ffffff;
background-image: url("../img/pointer.png");
background-repeat: no-repeat;
background-size: 1.2em 1.2em;
}

a:link #link {
background-color: #ffffff;
}

a:visited #link {

}

a:hover #link {
background-color: #bbbbbb;
}

a:active #link {

}

* html body{ /*IE6 hack*/
padding: 0 0 0 15em; /*Set value to (0 0 0 WidthOfFrameDiv)*/
}

* html #maincontent{ /*IE6 hack*/
height: 100%; 
width: 100%; 
}


